@{
    Layout = "~/Views/Shared/LoginLayout.cshtml";
}
<section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
                <div class="d-flex justify-content-center py-4">
                    <a href="" class="logo d-flex align-items-center w-auto">
                        <img src="~/img/logo.png" alt="nnn">
                        <span class="d-none d-lg-block">TelnetAdmin</span>
                    </a>
                </div><!-- End Logo -->
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="pt-4 pb-2">
                            <h5 class="card-title text-center pb-0 fs-4">Login to Your Account</h5>
                            <p class="text-center small">Enter your email & password to login</p>
                        </div>
                        <form asp-controller="AdminAuth" asp-action="Login" method="post" asp-validation-summary="All">
                            <div class="col-12">
                                <label for="yourusername" class="form-label">Username</label>
                                <div class="input-group has-validation">
                                    <input type="username" name="Uname" class="form-control" id="yourusername" required>
                                    <div class="invalid-feedback">Please enter your Username</div>
                                </div>
                            </div>
                            <div class="col-12">
                                <label for="yourPassword" class="form-label">Password</label>
                                <input type="password" name="password" class="form-control" id="yourPassword" required>
                                <div class="invalid-feedback">Please enter your password!</div>
                            </div>
                            <div class="col-12">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="remember" value="true" id="rememberMe">
                                    <label class="form-check-label" for="rememberMe">Remember me</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary w-100" type="submit">Login</button>
                            </div>
                          @*  <div class="col-12">
                                <p class="small mb-0">Don't have an account? <a asp-action="Register">Create an account</a></p>
                            </div>*@
                            <div asp-validation-summary="All" class="text-danger"></div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
