@{
    ViewData["Title"] = "Create Profile";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}


<section class="blog-list-bg">
    <div class="bg-overlay"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="page-header-title text-center text-white">
                    <h1 class="font-weight-light">Blog List</h1>
                  
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end home -->
<!-- BLOG LIST START -->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <form>
                    <input class="form-control search-form mt-4" type="search" placeholder="Search...">
                    <button class="search-button" type="submit"><a href="#" class="text-dark"><span class="mdi mdi-magnify"></span></a></button>
                </form>

                <div class="job-detail mt-4">
                    <h5 class="text-dark text-center p-2 mb-0">Categories</h5>
                    <hr class="m-0">
                    <div class="blog-datails-item p-3">
                        <ul class="list-inline mb-0">
                            <li class="mb-2"><a href="#" class="text-muted"><i class="mdi mdi-chevron-right mr-2"></i>Software Developer</a></li>
                            <li class="mb-2"><a href="#" class="text-muted"><i class="mdi mdi-chevron-right mr-2"></i>Accounting</a></li>
                            <li class="mb-2"><a href="#" class="text-muted"><i class="mdi mdi-chevron-right mr-2"></i>Marketing Job</a></li>
                            <li class="mb-2"><a href="#" class="text-muted"><i class="mdi mdi-chevron-right mr-2"></i>Graphic Dsigner</a></li>
                            <li class="mb-2"><a href="#" class="text-muted"><i class="mdi mdi-chevron-right mr-2"></i>Web Developer</a></li>
                            <li class="mb-2"><a href="#" class="text-muted"><i class="mdi mdi-chevron-right mr-2"></i>Web Designer</a></li>
                            <li class="mb-2"><a href="#" class="text-muted"><i class="mdi mdi-chevron-right mr-2"></i>Digital Marketing</a></li>
                            <li class="mb-2"><a href="#" class="text-muted"><i class="mdi mdi-chevron-right mr-2"></i>Education & Training</a></li>
                            <li class="mb-2"><a href="#" class="text-muted"><i class="mdi mdi-chevron-right mr-2"></i>Engineering Jobs</a></li>
                            <li class="mb-0"><a href="#" class="text-muted"><i class="mdi mdi-chevron-right mr-2"></i>Government Jobs</a></li>
                        </ul>
                    </div>
                </div>

                <div class="job-detail mt-4">
                    <h5 class="text-dark text-center p-2 mb-0">Archives</h5>
                    <hr class="m-0">
                    <div class="blog-datails-item p-3">
                        <ul class="list-inline mb-0">
                            <li class="mb-2"><a href="#" class="text-muted"><i class="mdi mdi-chevron-right mr-2"></i>08 January 2018</a></li>
                            <li class="mb-2"><a href="#" class="text-muted"><i class="mdi mdi-chevron-right mr-2"></i>13 February 2018</a></li>
                            <li class="mb-2"><a href="#" class="text-muted"><i class="mdi mdi-chevron-right mr-2"></i>10 March 2018</a></li>
                            <li class="mb-2"><a href="#" class="text-muted"><i class="mdi mdi-chevron-right mr-2"></i>06 April 2018</a></li>
                            <li class="mb-2"><a href="#" class="text-muted"><i class="mdi mdi-chevron-right mr-2"></i>12 May 2018</a></li>
                            <li class="mb-2"><a href="#" class="text-muted"><i class="mdi mdi-chevron-right mr-2"></i>27 June 2018</a></li>
                        </ul>
                    </div>
                </div>

                <div class="job-detail mt-4">
                    <h5 class="text-dark text-center p-2 mb-0">Archives</h5>
                    <hr class="m-0">
                    <div class=" p-3">
                        <div class="media">
                            <div class="blog-list-img mr-2">
                                <img src="~/images/employers/img-1.jpg" alt="" class="img-fluid mx-auto d-block rounded">
                            </div>
                            <div class="media-body ml-2">
                                <p class="mb-0 text-muted mb-0 f-13"><a href="#" class="text-dark">In enime justo rhoncuse ut imperdiete as vitae justo niti nullam.</a></p>
                                <ul class="list-inline mb-0">
                                    <li class="list-inline-item">
                                        <a href="#" class="text-dark">
                                            <p class="mb-0">View all</p>
                                        </a>
                                    </li>
                                    <li class="list-inline-item float-right">
                                        <p class="text-dark mb-0">15-Dec-2018</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <hr>

                        <div class="media">
                            <div class="blog-list-img mr-2">
                                <img src="~/images/employers/img-2.jpg" alt="" class="img-fluid mx-auto d-block rounded">
                            </div>
                            <div class="media-body ml-2">
                                <p class="mb-0 text-muted mb-0 f-13"><a href="#" class="text-dark">Integer tincidunte dapibus that Vivamus semper as vulputate.</a></p>
                                <ul class="list-inline mb-0">
                                    <li class="list-inline-item">
                                        <a href="#" class="text-dark">
                                            <p class="mb-0">View all</p>
                                        </a>
                                    </li>
                                    <li class="list-inline-item float-right">
                                        <p class="text-dark mb-0">22-Jan-2018</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <hr>

                        <div class="media">
                            <div class="blog-list-img mr-2">
                                <img src="~/images/employers/img-3.jpg" alt="" class="img-fluid mx-auto d-block rounded">
                            </div>
                            <div class="media-body ml-2">
                                <p class="mb-0 text-muted mb-0 f-13"><a href="#" class="text-dark">Aliquam lorem dapibus a in viverra quis feugiat metus.</a></p>
                                <ul class="list-inline mb-0">
                                    <li class="list-inline-item">
                                        <a href="#" class="text-dark">
                                            <p class="mb-0">View all</p>
                                        </a>
                                    </li>
                                    <li class="list-inline-item float-right">
                                        <p class="text-dark mb-0">05-Sep-2018</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="job-detail mt-4">
                    <h5 class="text-dark text-center p-2 mb-0">Tags</h5>
                    <hr class="m-0">
                    <div class=" p-3">
                        <div class="blog-tages text-center">

                            <a href="#">Creative</a>
                            <a href="#">Developer</a>
                            <a href="#">Wordpress</a>
                            <a href="#">Design</a>
                            <a href="#">Google</a>
                            <a href="#">Traffic</a>
                            <a href="#">ISO</a>
                            <a href="#">Blog</a>
                            <a href="#">Resume</a>
                            <a href="#">Themes</a>
                            <a href="#">Job</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-8">
                <div class="job-detail mt-4">
                    <div class="row align-items-center">
                        <div class="col-md-4">
                            <div class="blog-img">
                                <img src="~/images/blog-list/img-1.jpg" alt="" class="img-fluid rounded">
                                <div class="blog-date text-center">
                                    <p class="text-white f-18 mb-0">07</p>
                                    <p class="text-white f-18 mb-0">Nav</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-8">
                            <div class="blog-list-desc m-14 p-3">
                                <h5 class="f-16"><a href="#" class="text-dark">Quis autem at eum illum at fugiat dolor diam sagittis ligula ac felis quis tortor.</a></h5>
                                <p class="text-muted mb-2 f-14">At vero this accusamus iusto dignissimos corrupti ducim qui blanditiis voluptatum deleniti atque corrupti dolores molestias that excepturi a cupiditate non provident sunt i culpa.</p>
                                <ul class="list-inline mb-0">
                                    <li class="list-inline-item float-left">
                                        <a href="#" class="text-custom">
                                            <p class="mb-0">Read More <i class="mdi mdi-arrow-right ml-1"></i></p>
                                        </a>
                                    </li>
                                    <li class="list-inline-item float-right">
                                        <a href="#" class="text-dark">
                                            <p class="mb-0"><i class="mdi mdi-message-reply-text mr-1"></i>3 Comment</p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="job-detail mt-4">
                    <div class="row align-items-center">
                        <div class="col-md-4">
                            <div class="blog-img">
                                <img src="~/images/blog-list/img-2.jpg" alt="" class="img-fluid rounded">
                                <div class="blog-date text-center">
                                    <p class="text-white f-18 mb-0">12</p>
                                    <p class="text-white f-18 mb-0">Jan</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-8">
                            <div class="blog-list-desc m-14 p-3">
                                <h5 class="f-16"><a href="#" class="text-dark">In a felis quis tortor malesuada pretium Pellentesque auctor neque nec.</a></h5>
                                <p class="text-muted mb-2 f-14">Ut non enim eleifend felis pretium feugiat Vivamus quis mi. Phasellus a est Phasellus magna hac habitasse platea dictumst Curabitur at lacus ac velit ornare lobortis.</p>
                                <ul class="list-inline mb-0">
                                    <li class="list-inline-item float-left">
                                        <a href="#" class="text-custom">
                                            <p class="mb-0">Read More <i class="mdi mdi-arrow-right ml-1"></i></p>
                                        </a>
                                    </li>
                                    <li class="list-inline-item float-right">
                                        <a href="#" class="text-dark">
                                            <p class="mb-0"><i class="mdi mdi-message-reply-text mr-1"></i>4 Comment</p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="job-detail mt-4">
                    <div class="row align-items-center">
                        <div class="col-md-4">
                            <div class="blog-img">
                                <img src="~/images/blog-list/img-3.jpg" alt="" class="img-fluid rounded">
                                <div class="blog-date text-center">
                                    <p class="text-white f-18 mb-0">13</p>
                                    <p class="text-white f-18 mb-0">Fab</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-8">
                            <div class="blog-list-desc m-14 p-3">
                                <h5 class="f-16"><a href="#" class="text-dark">Donec interdum et hendrerit aliquet dolor diam sagittis ligula eget egestas libero.</a></h5>
                                <p class="text-muted mb-2 f-14">Phasellus blandit leo ut odio maecenas ullamcorper dui plaerat feugiat eros pede varius nisi condimentum viverra felis nunc et lorem. Sed magna purus fermentum eu.</p>
                                <ul class="list-inline mb-0">
                                    <li class="list-inline-item float-left">
                                        <a href="#" class="text-custom">
                                            <p class="mb-0">Read More <i class="mdi mdi-arrow-right ml-1"></i></p>
                                        </a>
                                    </li>
                                    <li class="list-inline-item float-right">
                                        <a href="#" class="text-dark">
                                            <p class="mb-0"><i class="mdi mdi-message-reply-text mr-1"></i>2 Comment</p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="job-detail mt-4">
                    <div class="row align-items-center">
                        <div class="col-md-4">
                            <div class="blog-img">
                                <img src="~/images/blog-list/img-4.jpg" alt="" class="img-fluid rounded">
                                <div class="blog-date text-center">
                                    <p class="text-white f-18 mb-0">22</p>
                                    <p class="text-white f-18 mb-0">Mar</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-8">
                            <div class="blog-list-desc m-14 p-3">
                                <h5 class="f-16"><a href="#" class="text-dark">Suspendisse enim turpis dictum sed iaculis a condimentum nec nisi Praesent nec nis.</a></h5>
                                <p class="text-muted mb-2 f-14">Vestibulum rutrum nec elementum a vehicula eros quamnisl a fringilla neque ante vel mi Morbi mollis tellus a sapien volutpat metus eget egestas mollis lacus lacus vel turpis dui.</p>
                                <ul class="list-inline mb-0">
                                    <li class="list-inline-item float-left">
                                        <a href="#" class="text-custom">
                                            <p class="mb-0">Read More <i class="mdi mdi-arrow-right ml-1"></i></p>
                                        </a>
                                    </li>
                                    <li class="list-inline-item float-right">
                                        <a href="#" class="text-dark">
                                            <p class="mb-0"><i class="mdi mdi-message-reply-text mr-1"></i>3 Comment</p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="job-detail mt-4">
                    <div class="row align-items-center">
                        <div class="col-md-4">
                            <div class="blog-img">
                                <img src="~/images/blog-list/img-5.jpg" alt="" class="img-fluid rounded">
                                <div class="blog-date text-center">
                                    <p class="text-white f-18 mb-0">30</p>
                                    <p class="text-white f-18 mb-0">May</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-8">
                            <div class="blog-list-desc m-14 p-3">
                                <h5 class="f-16"><a href="#" class="text-dark">Sed augue ipsum egestas as vestibulum et malesuada Nulla neque adipiscing.</a></h5>
                                <p class="text-muted mb-2 f-14">Vestibulum rutrum nec elementum vehicula eros quamnisl a fringilla neque ante vel mi Morbi mollis tellus a sapien volutpat metus eget egestas mollis lacus lacus blandit dui Fusce vel dui.</p>
                                <ul class="list-inline mb-0">
                                    <li class="list-inline-item float-left">
                                        <a href="#" class="text-custom">
                                            <p class="mb-0">Read More <i class="mdi mdi-arrow-right ml-1"></i></p>
                                        </a>
                                    </li>
                                    <li class="list-inline-item float-right">
                                        <a href="#" class="text-dark">
                                            <p class="mb-0"><i class="mdi mdi-message-reply-text mr-1"></i>5 Comment</p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="job-detail mt-4">
                    <div class="row align-items-center">
                        <div class="col-md-4">
                            <div class="blog-img">
                                <img src="~/images/blog-list/img-6.jpg" alt="" class="img-fluid rounded">
                                <div class="blog-date text-center">
                                    <p class="text-white f-18 mb-0">05</p>
                                    <p class="text-white f-18 mb-0">Jun</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-8">
                            <div class="blog-list-desc m-14 p-3">
                                <h5 class="f-16"><a href="#" class="text-dark">Duis vel nibh at velit scelerisque suscipit Curabitur turpis as vestibulum.</a></h5>
                                <p class="text-muted mb-2 f-14">Fusce ac felis a amet ligula pharetra condimentum Maecenas egestas arcu quis ligula mattis placerat Duis lobortis massa imperdiet quam Suspendisse potenti.</p>
                                <ul class="list-inline mb-0">
                                    <li class="list-inline-item float-left">
                                        <a href="#" class="text-custom">
                                            <p class="mb-0">Read More <i class="mdi mdi-arrow-right ml-1"></i></p>
                                        </a>
                                    </li>
                                    <li class="list-inline-item float-right">
                                        <a href="#" class="text-dark">
                                            <p class="mb-0"><i class="mdi mdi-message-reply-text mr-1"></i>4 Comment</p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <nav aria-label="Page navigation example">
                    <ul class="pagination job-pagination justify-content-center mt-5 mb-5">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                                <i class="mdi mdi-chevron-double-left f-15"></i>
                            </a>
                        </li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">
                                <i class="mdi mdi-chevron-double-right f-15"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- BLOG LIST END -->