@{
    ViewData["Title"] = "Applicant List";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<section class="team-bg">
        <div class="bg-overlay"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="page-header-title text-center text-white">
                        <h1 class="font-weight-light">Applicants</h1>
                       
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end home -->

    <!-- TEAM START -->
    <section class="section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <p class="text-muted text-center mb-4 f-17">Praesent venenatis metus at tortor pulvinar varius ipsum dolor amet consectetuer adipiscing Aenean commodo ligula.</p>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="team-box text-center bg-white mt-4">
                        <div class="team-img">
                            <img src="~/images/candidates/img-1.jpg" alt="" class="img-fluid d-block rounded">
                            <div class="team-name">
                                <h5 class="text-white f-18 font-weight-light mb-0">Stormy Bush</h5>
                            </div>
                        </div>
                        <div class="team-content text-center p-3">
                            <div class="">
                                <p class="f-17 mb-0"><a href="#" class="text-dark">Web Developer</a></p>
                                <p class="text-muted f-14 mb-0">Maecenas tellus eget condimentum sem quam semper.</p>
                                <div class="team-social-icon p-2">
                                    <ul class="blog-details-icons list-inline mb-0">
                                        <li class="list-inline-item"><a href="#" class=""><i class="mdi mdi-facebook"></i></a></li>
                                        <li class="list-inline-item"><a href="#" class=""><i class="mdi mdi-twitter"></i></a></li>
                                        <li class="list-inline-item"><a href="#" class=""><i class="mdi mdi-whatsapp"></i></a></li>
                                        <li class="list-inline-item"><a href="#" class=""><i class="mdi mdi-instagram"></i></a></li>
                                    </ul>
                                </div>
                            <a href="#" class="btn btn-primary mt-3">View Profile</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 ">
                <div class="team-box text-center bg-white mt-4">
                        <div class="team-img">
                            <img src="~/images/candidates/img-2.jpg" alt="" class="img-fluid d-block rounded">
                            <div class="team-name">
                                <h5 class="text-white f-18 font-weight-light mb-0">Darryl Abell</h5>
                            </div>
                        </div>
                        <div class="team-content text-center p-3">
                            <div class="">
                                <p class="f-17 mb-0"><a href="#" class="text-dark">Graphic Designer</a></p>
                                <p class="text-muted f-14 mb-0">Phasellus ullamcorper ipsum nunc nunc nonummy metus.</p>
                                <div class="team-social-icon p-2">
                                    <ul class="blog-details-icons list-inline mb-0">
                                        <li class="list-inline-item"><a href="#" class=""><i class="mdi mdi-facebook"></i></a></li>
                                        <li class="list-inline-item"><a href="#" class=""><i class="mdi mdi-twitter"></i></a></li>
                                        <li class="list-inline-item"><a href="#" class=""><i class="mdi mdi-whatsapp"></i></a></li>
                                        <li class="list-inline-item"><a href="#" class=""><i class="mdi mdi-instagram"></i></a></li>
                                    </ul>
                                </div>
                            <a href="#" class="btn btn-primary mt-3">View Profile</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="team-box text-center bg-white mt-4">
                        <div class="team-img">
                            <img src="~/images/candidates/img-3.jpg" alt="" class="img-fluid d-block rounded">
                            <div class="team-name">
                                <h5 class="text-white f-18 font-weight-light mb-0">Roger Utz</h5>
                            </div>
                        </div>
                        <div class="team-content text-center p-3">
                            <div class="">
                                <p class="f-17 mb-0"><a href="#" class="text-dark">Web Designer</a></p>
                                <p class="text-muted f-14 mb-0">Etiam ultricies nisi augue Curabitur ullamcorper ultricies.</p>
                                <div class="team-social-icon p-2">
                                    <ul class="blog-details-icons list-inline mb-0">
                                        <li class="list-inline-item"><a href="#" class=""><i class="mdi mdi-facebook"></i></a></li>
                                        <li class="list-inline-item"><a href="#" class=""><i class="mdi mdi-twitter"></i></a></li>
                                        <li class="list-inline-item"><a href="#" class=""><i class="mdi mdi-whatsapp"></i></a></li>
                                        <li class="list-inline-item"><a href="#" class=""><i class="mdi mdi-instagram"></i></a></li>
                                    </ul>
                                </div>
                                <a href="#" class="btn btn-primary mt-3">View Profile</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="team-box text-center bg-white mt-4">
                        <div class="team-img">
                            <img src="~/images/candidates/img-4.jpg" alt="" class="img-fluid d-block rounded">
                            <div class="team-name">
                                <h5 class="text-white f-18 font-weight-light mb-0">Sylvia Mace</h5>
                            </div>
                        </div>
                        <div class="team-content text-center p-3">
                            <div class="">
                                <p class="f-17 mb-0"><a href="#" class="text-dark">UI/UX Designer</a></p>
                                <p class="text-muted f-14 mb-0">Nunc nec neque a leo dolor tempus non hendrerit nisi.</p>
                                <div class="team-social-icon p-2">
                                    <ul class="blog-details-icons list-inline mb-0">
                                        <li class="list-inline-item"><a href="#" class=""><i class="mdi mdi-facebook"></i></a></li>
                                        <li class="list-inline-item"><a href="#" class=""><i class="mdi mdi-twitter"></i></a></li>
                                        <li class="list-inline-item"><a href="#" class=""><i class="mdi mdi-whatsapp"></i></a></li>
                                        <li class="list-inline-item"><a href="#" class=""><i class="mdi mdi-instagram"></i></a></li>
                                    </ul>
                                </div>
                            <a href="#" class="btn btn-primary mt-3">View Profile</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            
        </div>
    </section>
    <!-- TEAM END -->
