@{
    Layout = "~/Views/Shared/ErrorLayout.cshtml";
}
    <main>
        <div class="container">

            <section class="section error-404 min-vh-100 d-flex flex-column align-items-center justify-content-center">
            <h1 style="color:red;">Access Denied</h1>
                <h2 >403</h2>
               
                <a class="btn" asp-controller="home" asp-action="index">Back to home</a>
                <img src="~/img/not-found.svg" class="img-fluid py-5" alt="Page Not Found">
            
            </section>

        </div>
    </main><!-- End #main -->

 