@model MVCTelent.Models.User

@{
    ViewData["Title"] = "Create Profile";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<section class="create-resume-bg">
    <div class="bg-overlay"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="page-header-title text-center text-white">
                    <h1 class="">Create Profile</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="text-dark mt-5">Contact Information</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="job-detail mt-2 p-4">
                <div class="custom-form">
                        @{
                            var userId = Context.Session.GetInt32("UserId");
                        }
                        <form method="post" asp-controller="UserData" asp-action="UserContact" asp-route-id="@userId">
                            <div class="row">
                           
                              

                            <div class="col-md-4">
                                <div class="form-group app-label">
                                    <label for="phone" class="text-muted">Phone</label>
                                        <input asp-for="ContactNo" id="phone" type="text" class="form-control resume" placeholder="">
                                </div>
                            </div>

                            <div class="col-md-8">
                                <div class="form-group app-label">
                                    <label for="e-mail" class="text-muted">E-mail</label>
                                    <input id="e-mail" type="text" class="form-control resume" placeholder="" value="@(ViewBag.UserEmail)" readonly>
                                </div>
                            </div>

                                <div class="form-group">
                                    <label>State</label>
                                    <select asp-for="State" class="form-group">
                                        <option data-display="City">City</option>
                                        <option value="Surat">Surat</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>City</label>
                                    <select asp-for="City" class="form-group">
                                                    <option data-display="State">State</option>
                                                    <option value="Gujarat">Gujarat</option>
                                                </select>
                                </div>


                            <div class="col-lg-12">
                                <div class="form-group app-label">
                                    <label for="address">Address</label>
                                        <textarea asp-for="Address" id="address" rows="4" class="form-control resume" placeholder=""></textarea>
                                </div>
                            </div>

                            <div class="col-md-12 text-center">
                                <div class="form-group">
                                    <button type="submit" class="submitBnt btn btn-custom mt-5" style="background-color: red; color: white;">Save</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>

</section>
@*
    <script src="~/js/Cascade.js"></script>*@